-
    var ROOT_DOMAIN = 'https://● ● ●'
    var SITE_NAME = '藤吉工業株式会社 採用サイト'

head(prefix='og:https://ogp.me/ns#')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')

    //- favicon
    //- ------------------------------------------------------------

    //- link(rel="icon", type="image/png", href="/recruit-site/assets/img/favicon/favicon-96x96.png", sizes="96x96")
    //- link(rel="icon", type="image/svg+xml", href="/recruit-site/assets/img/favicon/favicon.svg")
    //- link(rel="shortcut icon", href="/recruit-site/assets/img/favicon/favicon.ico")
    //- link(rel="apple-touch-icon", sizes="180x180", href="/recruit-site/assets/img/favicon/apple-touch-icon.png")
    //- meta(name="apple-mobile-web-app-title", content="MyWebSite")
    //- link(rel="manifest", href="/recruit-site/assets/img/favicon/site.webmanifest")

    //- ogp
    //- ------------------------------------------------------------

    //- meta(property='og:url',content=ROOT_DOMAIN + SUB_DIRECTION)
    //- if TOP_PAGE
    //-     meta(property='og:type', content='website')
    //- else
    //-     meta(property='og:type', content='article')
    //- meta(property='og:title', content= PAGE_TITLE + ' | ' + SITE_NAME)
    //- meta(property='og:description',content=DESCRIPTION)
    //- meta(property='og:site_name',content=SITE_NAME)
    //- meta(property='og:image',content=ROOT_DOMAIN + '/recruit-site/assets/img/common/ogp.webp')

    //- title ・ description
    //- ------------------------------------------------------------

    title #{PAGE_TITLE} | #{SITE_NAME}
    meta(name='description',content=DESCRIPTION)

    //- preconnect
    //- ------------------------------------------------------------

    //- google font
    //- <link rel="preconnect" href="https://fonts.googleapis.com">
    //- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    //- adobe font
    //- <link rel="preconnect" href="https://use.typekit.net" crossorigin>
    //- <link rel="preconnect" href="https://p.typekit.net" crossorigin>

    //- css
    //- ------------------------------------------------------------

    //- swiper
    //- link(rel='stylesheet',href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css')
    //- original
    link(rel='stylesheet',href='/recruit-site/assets/css/style.css')

    //- js
    //- ------------------------------------------------------------

    //- jquery -----
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')

    //- gsap -----
    script(src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js")
    script(src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js")

    //- swiper -----
    //- script(src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')

    //- original -----
    script(type='text/javascript',src='/recruit-site/assets/js/script.js')
    //- script(type='text/javascript',src='/recruit-site/assets/js/slider.js')
